h1 {
  color: orange;
  background-color: white;
  font-size: 40px;
}

h4 {
  color: orange;
  font-size: 30px;
}

a {
  color: red;
  background-color: white;
  font-size: 20px;
}

li {
    color: blue;
}

p {
    color: green;
    font-size: 20px;
}